@use "./partials/_reset" as *;
@use "./partials/_variables" as *;

body {
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	max-width: 1400px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-33 {
	width: calc(100% / 3);
}
